.txt-bemVindo{
    font-family: "Chewy";
    font-size: 50px;
    margin-bottom: 20px;
}
.background-cadastro { 
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center; 
    flex-direction: column;
}

.card-cadastro{
    width:380px ;/*420px*/
    height:400px ;/*438px*/
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.input-cad {
    width: 97%;
    height: 45px;
    border-radius: 20px;
    outline: none;
    border: none;
    font-size: 16px;
    /* margin-bottom: 10px; */
    margin: 5px 0px;
    padding-left: 8px;    
}
.input-cad:focus{
    border: 1px solid #be6805  ;
    /* #ec5261cc */
}
.botao-cad{
    margin-top:20px;
}
.botao-cad:hover{
    background-color: #F7901E;
    /* #ec5261cc */
}