.back-preto{
    background-color: #38333F;
}

.back-branco{
    background-color: #F7E8EA;
}

.back-verde{
    background-color: #96CF8D;
}

.back-laranja{
    background-color: #F7901E;
}

.back-vermelho{
    background-color: #EC5261;
}

.back-pretoClaro{
    background-color: #38333f21;
}

.preto{
    color: #38333F;
}

.branco{
    color: #F7E8EA;
}

.verde{
    color: #96CF8D;
}

.laranja{
    color: #F7901E;
}

.vermelho{
    color: #EC5261;
}