.container-atividades {
    display: flex;
    flex-wrap: wrap;
    margin-left: 35px;
    width: 100%;
    border-radius: 15px;
    padding: 15px; /*20px*/
    justify-content: space-around;
    /* justify-content: center; */
}

.img-atv {
    width: 200px;
    height: 120px;
    border-radius: 15px;
}

.card-title {
    font-family: "Chewy";
    font-size: 24px;
}

.card-desc {
    font-family: "Tajawal";
    line-height: 1;
}

.card-atividade {
    padding: 9px; /*10px*/
    width: 200px;
    cursor: pointer;
}
.card-atividade:hover {
    /*background-color: #f7921e5d;*/
    background-color: #38333f38;
    border-radius: 20px;
}

.card-text {
    margin-top: 5px;
}

@media (max-width: 675.98px) {
    .container-atividades {
        margin-left: 0px;
        margin-top: 30px;
       
        /* justify-content: center; */
    }
}
