.menu-left {
    width: 24%; /*240px*/
    display: flex;
    flex-direction: column;
}
.btn {
    text-decoration: none;
}
.menu-left-button {
    margin-bottom: 16px;
    padding: 18px; /*16px*/
    font-family: "Chewy";
    font-size: 24px;
    border-radius: 15px;
    cursor: pointer;
    color: rgba(56, 51, 63, 1);
    text-decoration: none;
}

.btn .active {
    color: #38333f;
    /* color: rgba(56, 51, 63, 0.3); */
}
.menu-left-button:hover {
    background-color: #f7e8ea96;
}

.active {
    color: #38333f;
}
@media (max-width: 767.98px) {
    .menu-left-button {
        padding: 9px;
    }
}
@media (max-width: 677.98px) {
    .menu-left-button {
        padding: 9px;
    }
}

@media (max-width: 675.98px) {
    .menu-left {
        width: 24%; /*240px*/
        display: inline;
        margin-left: 10px;
    }
    .menu-left-button {
        padding: 1px;
        margin-right: 10px;
        font-size: 21px;
        margin-bottom: 20px;
    }

}

/* @media (max-width: 575.98px) { 


}

@media (max-width: 375.98px) { }
 



@media (max-width: 991.98px) {  }

@media (max-width: 1199.98px) { }

@media (max-width: 1399.98px) {  } */
/* 
.menu-left-button:hover{
    background-color: #f7e8ea96;;
} */
/* .ativo-button{
    color: #38333F;
} */

/*teste hamburguer*/
/* @media (max-width: 768px) {
    .menu-left {
        display: flex;
        justify-content: space-around;
        flex-flow: column nowrap;
    }
} */