.menu-left{
    width: 240px;
}

.menu-left-button{
    margin-bottom: 16px;
    padding: 16px;
    font-family: "Chewy";
    font-size: 24px;
    border-radius: 15px;
    cursor: pointer;
}
.menu-left-button .active{
    color: rgba(56, 51, 63, 0.3);

}
.menu-left-button:hover{
    background-color: #f7e8ea96;;
}