.background{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card{
    width:380px ;/*420px*/
    height:400px ;/*438px*/
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.form{
    display: flex;
    flex-direction: column;
    width: 80%;
}
.label-txt{
    font-family: "Chewy";
    font-size: 28px;
}
.input, .botao-confirmar{
    width: 97% ;/*350px*/
    height: 50px;
    border-radius: 20px;
    outline: none;
    border: none;
    font-size: 16px;
    margin: 5px 0px;
    padding-left: 8px;
}
.input:focus{
    border: 1px solid #be6805  ;
    /* #ec5261cc */
}
.botao-confirmar{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-family: "Chewy";
    font-size: 24px;
    cursor: pointer;  
    background-color: #be6805 ;  
}
.botao-confirmar:hover{
    background-color:#F7901E ;
    /* #ec5261cc */
}
.sub-opcoes{
    display: flex;
}

.check{
    margin: 16px 7px 14px 7px;
   
}
.lembrar{
    padding: 12px 10px 12px 0px;
    font-size: 14px;
}
.esqueceu-senha{
    padding: 12px 0px;
    margin-left: auto;
    font-size: 14px;
    cursor: pointer;
}
.txt-redirecionar{
    text-align: center;
    /* margin-top: 30px; */
    font-family: "Tajawal";
    cursor:pointer;
    
}
.link-redirecionar{
    text-decoration: none;
    cursor: pointer;
    padding-left: 5px;
   
}
.link-redirecionar:hover{
    color: #F7901E ;
    border-bottom: 1.5px solid ;
}

