.navbar {
    height: 36px;
    padding: 30px 100px;
    display: flex;
    align-items: center;
}
.navbar-container-right {
    margin-left: auto;
}

.navbar-container-right nav {
    display: flex;
}
.navbar-button a {
    text-decoration: none;
    margin-left: 36px;
    font-family: "Chewy";
    font-size: 24px;
}
.navbar-button a:hover {
    /*estilo para link ativado*/
    color: #96cf8d;
    border-bottom: 2px solid #96cf8d;
}
.navbar-button .active {
    /*estilo para link ativado*/
    color: #96cf8d;
    border-bottom: 2px solid #96cf8d;
}
