.background-exp-real {
    min-height: 100vh;
    width: 32vw; 
    margin-left: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.card-resultado {
    width: 297px;
    height: 240px; /*203*/
    border-radius: 20px;
    margin: 20px;
}
.resul-title {
    font-size: 20px;
    padding: 10px;
    font-family: "Chewy";
}
